.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: center;
}

.hey {
  color: white;
  width: 200px;
  height: 200px;
  background: linear-gradient(to left, red, yellow);
  text-shadow: 2px 2px;
}

.love {
  background-color: red;
  color: yellow;
  animation: love-spin infinite 20s linear;
  height: 80px; 
  margin-top: 50px; 
}

@keyframes love-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
